body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f6f6f6;
  // max-width: 1100px;
  margin: auto;
  min-width: 760px;
}

.home-flex-jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-flex-child {
  max-width: 30%;
}

.home-info-icon {
  height: 100px;
  width: 120px;
}

input {
  border-radius: 15px;
  padding-left: 1vh;
}

.mobyGames {
  overflow: scroll;
  max-height: 40vh;
}

.mobyGameCard {
  min-width: 20vw;
  max-width: 245px;
}

#mobyDeck {
  .card {
    max-width: 245px !important;
  }
}

.size-holder {
  max-width: 245px;
  max-height: 336px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

main {
  flex: 1;
  margin-top: 10vh !important;
  margin-bottom: 6vh !important;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding: 3rem 2rem;
}

#brand {
  font-family: "Press Start 2P";
}

.divider {
  width: 60%;
  border: 1px solid black !important;
  margin-bottom: -25px;
}

.top-spacer {
  margin-top: 3vh;
}

.right-spacer {
  margin: 3vh;
}

.bot-spacer {
  margin-bottom: 3vh;
}

.preview {
  width: 19vw;
  height: 30vh;
  margin: 1vh auto;
  border-radius: 100%;
}

.editorBox {
  width: 70%;
  margin: 6vh auto;
}

.articleBox {
  width: 70%;
  margin: 1vh auto;
}

.warning {
  color: red;
  font-family: "Press Start 2P";
}

.profileArticle {
  min-width: 30vh;
}

.myBlogsArticle {
  min-width: 40vh;
}

.center, .lead {
  text-align: center;
}

.navbar-brand {
  margin-left: 1.2rem !important;
  padding-top: .6125rem !important;
}

.white {
  color: white;
}

#footer {
  padding: 2vh;
  width: 100% !important;
  background-color: #f6f6f6 !important;  
}

.icon-size {
  max-width: 25px;
  max-height: 25px;
  padding-right: 4px;
  padding-bottom: 4px;  
}

.stupid-icon-size {
  max-width: 23px;
  max-height: 23px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.search-icon-size {
  max-width: 36px;
  max-height: 36px;
  padding-right: 12px;
}

.main-icon-size {
  max-width: 40px;
  max-height: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#foot-brand {
  display: inline-block;
  width: 100px;
  height: 50px;
  filter: drop-shadow(0px 0px 5px white);
}

.discoverBox {
  width: 90%;
  margin: 6vh auto;
  text-align: center;
}

.communityBox {
  width: 80%;
  text-align: center;
}

.margin {
  margin: 2vh 2vw 0 !important;
}

.removeMargin {
  margin: 0;
}

.removePadding {
  padding: 0;
}

.card-columns {
  text-align: center !important;
}

.bigButton {
  font-size: 2rem;
  padding: 0.8em 1.4em;
}

.selectedGameCard {
  text-align: center;
  max-width: 25vw;
}

#selectedGame {
  .selectedGameCard {
    max-width: 245px !important;
  }
}

.card {
  text-align: center !important;
  margin: 5vh auto !important;
  transition: box-shadow 0.5s;
  max-width: 70vw !important;
}

.blog-li {
  max-width: 120%;
}

.feature-text {
  font-family: 'Press Start 2P';
  font-size: 1.2em;
}

.mobyTitle {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.eightbit {
  font-family: 'Press Start 2P';  
}

.google-sign {
  max-width: 15vw;
  max-height: 10vh;
}

.google-sign:hover {
  cursor: pointer;
}

.fancy {
  font-style: italic;
  font-family: sans-serif;
  font-size: 0.5em;
}

.card:hover {
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,.7);
  position: relative;
  z-index: 5;
}

.smallerPls {
  max-height: 15vh;
  max-width: 15vw;
  margin-bottom: 2vh;
}

.header-overlay {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Press Start 2P";
  background: rgba(0, 0, 0, .5);
  padding: 2vh;
  margin: 0;
}

.subtitle {
  font-size: .5rem;
}

.diceImg {
  max-width: 10vw;
  max-height: 10vh;
  display: inline-block;
}

.dice {
  width: 20%;
  margin: 0 auto;
}

.main-blog-content {
  display: flex;
}

.flexChild-1 {
  width: 60%;
  margin: 0 auto;
  text-align: left;  
}

.flexChild-2 {
  width: 28%;
  margin: 0 auto;
  padding: 8px;
  max-height: 900px;
  overflow: scroll;
  border-radius: 10px;
  border: 1px solid black;
  transition: box-shadow 0.3s;
}

.mobylogo {
  max-width: 15vw;
  max-height: 10vh;
}

.view-user-bio {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 19%;
}

.hide {
  display: none;
}

.flexChild-2:hover {
  box-shadow: 0 0 5px 2px black;  
}

.game-sidebar {
  background: rgba(128, 128, 128, 0.6);
}

.sidebar-cover-img {
  max-width: 80%;
  max-height: 50%;
}

.viewProfilePicture {
  width: 27vh;
  height: 28vh;
  border-radius: 100%;
  margin: 2vh auto;
  top: 2vh;
  left: 2vh;
}

.profileCard {
  min-height: 36vh;
}

.dice:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#content {
  display: none;
} 

#myProgress {
  width: 60%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

#myProgress2 {
  width: 60%;
  background-color: #ddd;
}

#myBar2 {
  width: 1%;
  height: 30px;
  background-color: rgb(48, 67, 155);
}

.midtitle {
  font-size: .75rem;
}

.upscale {
  font-size: 1em;
}

.huge {
  font-size: 2em;
}

.form-title {
  font-size: 1.3em;
  font-weight: bold;
}

.blog-tag {
  background-color: rgb(33, 138, 33);
  border-radius: 20px;
  display: inline;
  padding: 0.7vw;
  margin: 0.3vw;
  color: white;
  transition: box-shadow 0.4s;
}

.filler-box {
  text-align: center;
  width: 100%;
  display: none;
}

.filler-img {
  max-width: 15vw;
  max-height: 15vh;
  border-radius: 100px;
  border: 5px solid black;
}

.blog-tag:hover {
  box-shadow: 0px 0px 7px 3px rgba(170, 216, 218, 0.7);
  cursor: pointer;
}

.header-photo-box {
  background: rgba(0, 0, 0, .5);
  margin: 0;
}

.header-user-photo {
  max-width: 12vw;
  max-height: 12vh;
  border-radius: 50px;
  background: rgba(0, 0, 0, .5);
  margin: 0;
  transition: box-shadow 0.3s, transform 0.3s;
}

.header-user-photo:hover {
  box-shadow: 0px 0px 5px 3px rgba(170, 216, 218, 0.7);
  transform: scale(1.2);
}

.author-link {
  transition: color 0.3s;
}

.author-link:hover {
  text-decoration: none;
  color: lightblue;
}

.text-left {
  text-align: left !important;
}

// toast

#toastAlert {
  visibility: hidden;
  min-width: 250px;
  max-height: 10vh;
  margin-left: -125px;
  font-size: 0.8em;
  background-color: rgb(91, 150, 121);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 1; 
  right: 2vw; 
  top: 10vh; 
}

#toastAlert.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

// tags

.tag-personnel {
  background-color: #DAF991;
  border: 1px solid #C2F456;
}
.tag {
  margin: 2px;
  padding: 6px 5px;
}
.tag {
  border-radius: 5px;
  color: #000000;
  display: inline-block;
  font-weight: bold;
  margin-right: 1px;
  padding: 2px 5px;
}
.tag a span.tag-icon {
  background-position: -312px 0 !important;
  margin: 0 !important;
  width: 14px !important;
}
.tag .tag-icon {
  background-image: url("glyphicons-halflings.png");
  background-position: 0 -48px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
}

// animations

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
