body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f6f6f6;
}

input {
  border-radius: 15px;
  padding-left: 1vh;
}

main {
  flex: 1;
  margin-top: 10vh !important;
  margin-bottom: 6vh !important;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding: 3rem 2rem;
}

#brand {
  font-family: "Press Start 2P";
}

.divider {
  width: 60%;
  border: 1px solid black !important;
  margin-bottom: -25px;
}

.top-spacer {
  margin-top: 3vh;
}

.preview {
  width: 25vw;
  height: 30vh;
  margin: 1vh auto;
  border-radius: 100%;
}

.editorBox {
  width: 70%;
  margin: 6vh auto;
}

.center, .lead {
  text-align: center;
}

.navbar-brand {
  margin-left: 1.2rem !important;
}

.white {
  color: white;
}

#footer {
  padding: 2vh;
}

#foot-brand {
  display: inline-block;
  width: 100px;
  height: 50px;
  filter: drop-shadow(0px 0px 5px white);
}

.discoverBox {
  width: 90%;
  margin: 6vh auto;
  text-align: center;
}

.communityBox {
  width: 80%;
  text-align: center;
}

.margin {
  margin: 2vh 2vw 0 !important;
}

.removeMargin {
  margin: 0;
}

.card-columns {
  text-align: center !important;
}

.card {
  text-align: center !important;
  margin: 5vh auto !important;
  transition: box-shadow 0.5s;
  max-width: 85vw !important;
}

.feature-text {
  font-family: 'Press Start 2P';
  font-size: 1.2em;
}

.fancy {
  font-style: italic;
  font-family: sans-serif;
  font-size: 0.5em;
}

.card:hover {
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,.7);
  position: relative;
  z-index: 5;
}

.smallerPls {
  max-height: 15vh;
  max-width: 15vw;
  margin-bottom: 2vh;
}

.header-overlay {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Press Start 2P";
  background: rgba(0, 0, 0, .5);
  padding: 2vh;
  margin: 0;
}

.subtitle {
  font-size: .5rem;
}

.midtitle {
  font-size: .75rem;
}

.upscale {
  font-size: 1em;
}

.huge {
  font-size: 2em;
}

.header-photo-box {
  background: rgba(0, 0, 0, .5);
  margin: 0;
}

.header-user-photo {
  max-width: 12vw;
  max-height: 12vh;
  border-radius: 50px;
  background: rgba(0, 0, 0, .5);
  margin: 0;
  transition: box-shadow 0.3s, transform 0.3s;
}

.header-user-photo:hover {
  box-shadow: 0px 0px 5px 3px rgba(170, 216, 218, 0.7);
  transform: scale(1.2);
}

.author-link {
  transition: color 0.3s;
}

.author-link:hover {
  text-decoration: none;
  color: lightblue;
}

.text-left {
  text-align: left !important;
}

// toast

#toastAlert {
  visibility: hidden;
  min-width: 250px;
  max-height: 5vh;
  margin-left: -125px;
  font-size: 0.8em;
  background-color: rgb(91, 150, 121);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 1; 
  right: 2vw; 
  top: 10vh; 
}

#toastAlert.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}