<div class="card bg-dark text-white">
  <img class="card-img" ng-src="{{thisBlog.header}}" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title header-overlay">{{thisBlog.title}}</h5>
    <div class="header-photo-box">
      <img src="{{thisBlog.userphoto}}" class="header-user-photo">
    </div>
      <h2 class="center header-overlay subtitle"><a class="white author-link" href="#!/community/{{thisBlog.uid}}">by {{thisBlog.author}}</a></h2>   
    <p class="card-text header-overlay subtitle">Last updated {{thisBlog.date}}</p>
  </div>
</div>

<div class="jumbotron center">

  <div class="main-blog-content">
    <div class="flexChild-1">
      <div class="view-box">
        <img src="../img/eye.png" class="view-count-eye">
        <h4 class="view-count">{{thisBlog.views}}</h4>
      </div>
    <p ng-bind-html="thisBlog.body"></p>
    <br>
    <div class="tags-box">
      <h3 class="feature-text bot-spacer">#Tags:</h3>
      <ul>
        <li class="blog-tag blog-li" ng-repeat="tag in thisBlog.tags">{{tag.text}}</li>    
      </ul>
    </div>
    </div>

    <div class="game-sidebar flexChild-2">
      <h5>Game info provided by</h5>
      <a href="https://www.mobygames.com"><img src="../img/mobygames-logo.png" class="mobylogo bot-spacer"></a>
      <br>
      <img class="sidebar-cover-img" ng-src="{{moby.cover || '../img/error.jpg'}}">
      <hr>
      <h5 class="eightbit subtitle">Game:</h5>
      <h6>{{moby.game}}</h6>
      <h6>Released {{moby.release}}</h6>
      <hr>
      <h5 class="eightbit subtitle">Genres:</h5>
      <ul>
        <li>{{moby.genres[0].genre_name}}</li>
        <li>{{moby.genres[1].genre_name}}</li>
        <li>{{moby.genres[2].genre_name}}</li>        
      </ul>
      <hr>
      <h5 class="eightbit subtitle">Platforms:</h5>
      <ul>
        <li>{{moby.platforms[0].platform_name}}</li>
        <li>{{moby.platforms[1].platform_name}}</li>
        <li>{{moby.platforms[2].platform_name}}</li>        
        </ul>
      <hr>
      <p ng-bind-html="moby.description"></p>
    </div>
  </div>


  <hr class="my-4">
  <p class="fancy upscale">Join the bloody conversation. Comment below and let your voice be heard in the galaxy</p>
  
  <p class="lead">
    <div class="editorBox">
      <dir-disqus config="disqusConfig"></dir-disqus>
    </div>    
  </p>

</div>