<h4 class="center feature-text top-spacer">
  Welcome to the {{title}} page
</h4>

<div class="editorBox">
    <form>
      <div class="form-group">
        <label for="blogTitle">Title</label>
        <input type="text" class="form-control" id="blogTitle" ng-model="blog.title" aria-describedby="blogTitle" placeholder="Pick a nifty and descriptive title">
        <small id="blogTitle" class="form-text text-muted">The title will draw users to your post as well as will be the primary element users find your content when searching</small>
      </div>
      <div class="form-group">
        <label for="headerImg">Header Image URL <span class="fancy">An original screenshot or other creative photo is recommended and can increase view count</span></label>
        <input type="text" class="form-control" id="headerImg" ng-model="blog.header" placeholder="Paste image address here...">
      </div>
      <div class="form-group">
          <label for="mobySearch">Select the game this post is about - <a href="http://www.mobygames.com/" class="fancy upscale">Powered by MobyGames</a></label>
          <input type="text" class="form-control" id="mobySearch" ng-model="searchQuery" placeholder="Type the game's title here...">
          <div class="center top-spacer">
            <button ng-click="getMobyResults(searchQuery)" class="btn btn-success">Search MobyGames API</button>
          </div>
          <hr>

          <div id="mobyResults">
            <div class="card-deck" id="mobyDeck">
              <div class="card mobyGameCard center" ng-repeat="game in games">
                <div class="lead">
                  <img class="card-img-top size-holder" src="{{game.sample_cover.image}}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h5 class="card-title mobyTitle">{{game.title}}</h5>
                  <a class="card-text fancy" href="{{game.moby_url}}">MobyGames Site</a>
                  <p class="eightbit mobyTitle top-spacer">Genres:</p>
                  <ul>
                    <li>{{game.genres[0].genre_name}}</li>
                    <li>{{game.genres[1].genre_name}}</li>
                    <li>{{game.genres[2].genre_name}}</li>                    
                  </ul>
                  <button type="button" class="btn btn-primary" ng-click="selectMobyGame(game.game_id, game.title, game.sample_cover.image)">Select this Game</button>
                </div>
              </div>
            </div>
          </div>

          <div id="selectedGame" style="display: none">
            <h2 class="center feature-text">Selected Game</h2>
              <div class="card selectedGameCard">
                  <img class="card-img-top size-holder" src="{{blog.cover}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title mobyTitle">{{blog.game}}</h5>
                </div>
                <button type="button" class="btn btn-outline-warning" ng-click="undoGameSelect()">Undo</button>
            </div>
          </div>

          <hr>
      </div>
    </form>
  </div>
  
  <div class="editorBox">
  <ng-quill-editor ng-model="blog.body">
    <ng-quill-toolbar>
      <div>
        <span class="ql-formats">
          <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-script" value="sub"></button>
          <button class="ql-script" value="super"></button>
          <button class="ql-image"></button>
        </span>
      </div>
    </ng-quill-toolbar>
  </ng-quill-editor>
  </div>
  
  <div class="center">
    <button type="submit" class="btn btn-success bigButton" ng-click="submitBlog()">Submit</button>
  </div>

  <div id="toastAlert">Your post is published! Search for it now 😊</div>
  
  <br>

  <hr>
  
  <div class="center">
      <h4>Preview:</h4>
  </div>
    
  <p class="editorBox" ng-bind-html="blog.body"></p>

  <hr>

  <div class="editorBox">
  <dir-disqus config="disqusConfig2"></dir-disqus>
  </div>