<h4 class="center feature-text top-spacer huge">
  {{title}}
</h4>

<h5 class="center fancy upscale">Check out three random articles<br>Find something new!<br>Click the dice to roll again...</h5>

<div class="center top-spacer diceBox">
<section class="dice"><img src="../img/dice.png" class="diceImg"><img src="../img/dice.png" class="diceImg"></section>
</div>

<div class="discoverBox" id="content">
    <div>

        <div class="card" style="width: 55vw !important" ng-repeat="blog in blogs | limitTo: limit">
          <img class="card-img-top" ng-src="{{blog.header}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <h6 class="card-title">Published by {{blog.author}}</h6>            
            <a href="#!/blogs/{{blog.id}}"><button type="submit" class="btn btn-info">Read More</button></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated on {{blog.date}}</small>
          </div>
        </div>

      </div>
</div>

<div class="progress editorBox" id="myProgress">
  <div id="myBar"></div>
</div>
