<ul class="nav justify-content-end navbar-dark bg-dark" id="footer">
  <li class="nav-item">
    <a class="nav-link active" href="#">Discover</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Community</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="https://github.com/e-x-wilson/game-galaxy">&copy; 2018 Game Galaxy / ExW</a>
  </li>
  <li class="nav-item">
    <img src="img/gg-logo.png" id="foot-brand">
  </li>
</ul>