<div class="jumbotron center home-intro">
  <h2 class="display-4 center"><span class="fancy">WELCOME TO THE</span> <br> <span class="feature-text">GALAXY</span> </h2>
  <img src="img/star.png" class="smallerPls">
  <p class="lead">Register for an account today to begin blogging. <br> Review games, theorize conspiracies, interpret stories; write what YOU want to write about games. <br> Hear back from the community and let your voice be heard! <br> This universe is all about GAMES</p>
  <hr class="my-4">
  <p>Join our galaxy and let us hear about your world</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Register Now!</a>
  </p>
</div>

<br>

<div class="jumbotron center">
  <div class="home-flex-jumbotron">

    <div class="home-flex-child">
      <h2 class="display-4 center eightbit huge">Join</h2>
      <p class="lead">Take part in the community</p>
      <img src="../img/person.png" class="home-info-icon bot-spacer">
      <p class="lead">
        <a class="btn btn-outline-primary btn-md" href="#" role="button">Go!</a>
      </p>
    </div>

    <div class="home-flex-child">
      <h2 class="display-4 center eightbit huge">Share</h2>
      <p class="lead">Write what's on your mind</p>
      <img src="../img/cloud.png" class="home-info-icon bot-spacer">
      <p class="lead">
        <a class="btn btn-outline-primary btn-md" href="#" role="button">Create!</a>
      </p>
    </div>

    <div class="home-flex-child">
      <h2 class="display-4 center eightbit huge">Discover</h2>
      <p class="lead">Listen and respond to others</p>
      <img src="../img/globe.png" class="home-info-icon bot-spacer">
      <p class="lead">
        <a class="btn btn-outline-primary btn-md" href="#" role="button">Find!</a>
      </p>
    </div>

  </div>
</div>

<br>

<p class="center fancy upscale top-spacer">Navigation icons created by Dileep M from the <a href="https://www.thenounproject.com">Noun Project</a>. Thanks!</p>
<p class="center fancy upscale top-spacer">Game search API courtesy <a href="https://www.mobygames.com">Mobygames.com</a> and Simon Carless. Thanks!</p>

