<div class="jumbotron center home-intro">
  <h2 class="display-4 center"><span class="fancy">WELCOME TO THE</span> <br> <span class="feature-text">GALAXY</span> </h2>
  <img src="img/star.png" class="smallerPls">
  <p class="lead">Register for an account today to begin blogging. <br> Review games, theorize conspiracies, interpret stories; write what YOU want to write about games. <br> Hear back from the community and let your voice be heard! <br> This universe is all about GAMES</p>
  <hr class="my-4">
  <p>Join our galaxy and let us hear about your world</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Register Now!</a>
  </p>
</div>

<br>

<!-- <div class="jumbotron center">
  <h1 class="display-4 center">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> -->

<p>Magnifying Glass by Dileep M from the Noun Project</p>

<div class="editorBox">
  <dir-disqus config="disqusConfig"></dir-disqus>
</div>
