<h4 class="center feature-text huge top-spacer">
  {{title}}
</h4>

<div class="filler-box">
    <h3 id="fillerText" class="top-spacer midtitle upscale">You haven't written any posts yet :(</h3>
    <img id="fillerImg" src="../img/angry.png" class="filler-img top-spacer">
    <br>
    <a href="#!/blogs/new"><button class="btn btn-outline-success top-spacer">Click here to write your first blog!</button></a>
  </div>

<div class="card-deck articleBox">
    <div class="card right-spacer myBlogsArticle" ng-repeat="blog in blogs">
      <img class="card-img-top" src="{{blog.header}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text"></p>
        <a href="#!/blogs/{{blog.id}}"><button class="btn btn-outline-info">Read</button></a>
        <a href="#!/blogs/{{blog.id}}/edit"><button class="btn btn-outline-success">Edit</button></a>        
        <a href=""><button class="btn btn-outline-warning" ng-click="deleteThis(blog.id)">Delete</button></a>        
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{blog.date}}</small>
      </div>
    </div>
  </div>

