<h4 class="center feature-text top-spacer">
  Edit your {{title}} below
</h4>

<form class="editorBox text-left">
  <div class="form-group">
    <label for="userNickname">Display Name</label>
    <input type="text" class="form-control" id="userNickname" placeholder="Your nickname for the site..." ng-model="user.nickname">
  </div>
  <div class="form-group">
    <label for="userGenre">Favorite Genre</label>
    <select multiple class="form-control" id="userGenre" ng-model="user.genre">
      <option>Action</option>
      <option>Adventure</option>
      <option>Role-Playing</option>
      <option>Sports</option>
      <option>Strategy</option>
      <option>Simulation</option>      
    </select>
  </div>
  <div class="form-group">
    <label for="userBio">Bio</label>
    <textarea class="form-control" ng-model="user.bio" id="userBio" rows="3" placeholder="Tell everyone a little about your story, your interests, and your pets here..."></textarea>
  </div>
  <form>
    <div class="form-group">
      <label for="customPhoto">Update Your Profile Picture</label>
      <p class="fancy upscale">Please submit URL to desired photo</p>
      <input type="text" class="form-control" id="customPhoto" ng-model="user.customPhoto">
      <div class="center margin">
        <p class="fancy upscale">Profile picture preview:</p>
        <img class="preview" src="{{user.customPhoto}}" ng-if="user.customPhoto">
      </div>
    </div>
  </form>
</form>

<div id="toastAlert">Changes saved! 😊</div>

<div class="center">
<button type="button" id="postBtn" class="btn btn-success center" ng-click="clickSubmit()">Create Local Profile</button>
<button type="button" id="putBtn" class="btn btn-info center" ng-click="updateSubmit()">Update Local Profile</button>
</div>