<h2 class="center feature-text top-spacer">
  {{thisUser.nickname}}'s Profile
</h2>

<div class="card mb-3 relative profileCard">
  <div class="profile-flex">
  <div class="profile-flex-child">
  <img class="viewProfilePicture absolute" src="{{thisUser.customPhoto}}" alt="user profile picture">
  </div>
  <div class="card-body top-spacer profile-flex-child">
    <h5 class="card-title">Name: {{thisUser.formal}}</h5>
    <h5>Favorite Genre: {{thisUser.genre[0]}}</h5>
    <p class="card-text view-user-bio">{{thisUser.bio}}</p>
    <p class="card-text"><small class="text-muted">Date Joined: {{thisUser.joinDate}}</small></p>
    <br>
    <button type="submit" class="btn btn-outline-info" ng-click="sendFriendRequest()">Send Friend Request</button>
    <!-- <a href="#!/blogs/{{userBlog.id}}"><button type="submit" class="btn btn-info">Read More</button></a> -->
  </div>
  </div>
</div>

<hr class="divider bot-spacer">

<h2 class="center feature-text top-spacer">{{thisUser.nickname}}'s Articles</h2>

  <div class="card-deck articleBox">
    <div class="filler-box">
      <h3 id="fillerText" class="top-spacer midtitle">This user hasn't written any posts yet :(</h3>
      <img id="fillerImg" src="../img/sad.png" class="filler-img top-spacer">
    </div>
    <div class="card mr-3 profileArticle" ng-repeat="userBlog in blogs">
      <img class="card-img-top" ng-src="{{userBlog.header}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{userBlog.title}}</h5>
        <p class="card-text"></p>
        <a href="#!/blogs/{{userBlog.id}}"><button type="submit" class="btn btn-info">Read More</button></a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{userBlog.date}}</small>
      </div>
    </div>
  </div>